/* From Uiverse.io by satyamchaudharydev */
.button {
  --width: 250px;
  --height: 40px;
  --tooltip-height: 155px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #1163ff;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  border: none;
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.button_wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.3s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #6c18ff;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.container {
  width: 100%;
  height: 100%;

  
}

/* From Uiverse.io by wilsondesouza */
ul {
  list-style: none;
}

.example_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example_2 .icon_content {
  margin: 0 10px;
  position: relative;
}
.example_2 .icon_content .tooltip {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  opacity: 20%;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example_2 .example_2:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -30px;
}
.example_2 .icon_content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  color: #4d4d4d;
  border: none;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example_2 .icon_content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example_2 .icon_content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example_2 .icon_content a:hover {
  color: white;
}
.example_2 .icon_content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example_2 .icon_content a:hover .filled {
  height: 100%;
}

.example_2 .icon_content a[data-social="linkedin"] .filled,
.example_2 .icon_content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example_2 .icon_content a[data-social="github"] .filled,
.example_2 .icon_content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example_2 .icon_content a[data-social="instagram"] .filled,
.example_2 .icon_content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example_2 .icon_content a[data-social="youtube"] .filled,
.example_2 .icon_content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

@media (hover: none) and (pointer: coarse) {
  .icon_content:hover {
    pointer-events: none;
  }

  .button:hover {
    pointer-events: none;
  }
}
